@{Layout = null;}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title id="title">账号管理</title>
    <link href="/assets_pc/style/reset.css?v=1.1.3" rel="stylesheet" type="text/css" />
    <link href="/assets_pc/style/common.css?v=1.1.3" rel="stylesheet" type="text/css" />
    <link href="/assets_pc/vendor/perfect-scrollbar/perfect-scrollbar.css?v=1.1.3" rel="stylesheet" />


    <script src="/assets_pc/script/setFontSize.js?v=1.1.3"></script>
    <script src="/assets_pc/vendor/perfect-scrollbar/perfect-scrollbar.js?v=1.1.3"></script>

</head>
<body>
    <div class="main-content">
        <div class="content-head">
            <div class="title-box">
                <h2 class="content-title">账号管理</h2>
            </div>
            <div id="OperateButton" class="add-btn-box">
                @Html.Raw(ViewBag.OperateButton)
                <a href="javascript:;" id="btnShowSearchBox" class="OperateButton btn-filter">筛选</a>
            </div>
        </div>
        <div class="content-body" id="scroll-box">
            <div class="list-box">
                <div class="table-box">
                    <table id="tblist" class="tblist">
                        <tr class="odd">
                            @*<th class="thcbAll w50">
                                    <input type="checkbox" align="absmiddle" id="cbListCheckAll" />
                                </th>*@
                            <th class="w50">序号</th>
                            <th>用户名称<i id="UserName" class=""></i></th>
                            <th>真实姓名</th>
                            <th>IC卡号</th>
                            <th>角色名称</th>
                            <th>部门名称</th>
                            <th class="w200">操作时间</th>
                            <th class="w100">状态</th>
                        </tr>
                    </table>
                    <div class="pagination_main" id="divPagination">

                    </div>
                </div>
                <input type="hidden" id="sortfield" value="" />
                <input type="hidden" id="sorttype" value="" />
            </div>
        </div>
    </div>
    <!--Content End-->
    <!--details页面 begin-->
    <div class="detail-content" id="detailsBox">
        <!--search页面 end-->
        <div class="search-box clearfix" id="div_shearchBox">
            <h2 class="detail-title">筛选条件</h2>

            <div class="select-item"><h3 class="select-title">用户名称:</h3><input type="text" class="select-input" id="txtUserNameBySearch"></div>
            <div class="select-item"><h3 class="select-title">真实姓名:</h3><input type="text" class="select-input" id="txtRealNameBySearch"></div>
            <div class="select-item">
                <h3 class="select-title">角色名称:</h3>
                <select id="ddlRoleID" class="select dropdown">
                    <option value="">==全部==</option>
                    @Html.Raw(ViewBag.GetRoleID)
                </select>
            </div>
            <div class="select-item">
                <h3 class="select-title">部门名称:</h3>
                <select id="ddlDeptID" class="select">
                    <option value="">==全部==</option>
                    @Html.Raw(ViewBag.GetDeptID)
                </select>
            </div>
            <div class="select-item">
                <h3 class="select-title">用户类型:</h3>
                <select id="ddlUserTypeBySearch" class="select">
                    <option value="">==全部==</option>
                    <option value="1">系统用户</option>
                    <option value="4">普通护工</option>
                    <option value="6">行政</option>
                </select>
            </div>
            <div class="select-item">
                <h3 class="select-title">状态:</h3>
                <select id="ddlIsValid" class="select">
                    <option value="">==全部==</option>
                    <option value="1" selected="selected">有效</option>
                    <option value="0">无效</option>
                </select>
            </div>
            <div class="select-item"><h3 class="select-title">用户名称:</h3><input type="text" class="select-input"></div>
            <div class="select-item"><a href="###" class="search-btn" id="BtnSearch">查询</a></div>
        </div>
        <!--search页面 end-->
        <!--detail页面 begin-->
        <div class="detail-box" id="div_detailsBox" style="display:none">
            <div class="add-btn-box">
                @Html.Raw(ViewBag.DetailsOperateButton)
            </div>
            <input type="hidden" id="txtId" />
            <div class="info-item"><h3 class="info-title required">用户名称:</h3><input class="text-input" type="text" id="txtUserName"></div>
            <div class="info-item"><h3 class="info-title">IC卡号:</h3><input class="text-input" type="text" id="txtIcCardNO"></div>
            <div class="info-item half-item">
                <h3 class="info-title required">真实姓名:</h3>
                @*<select class="inputnull select" id="ddlRealName">
                    @Html.Raw(ViewBag.GetRealName)
                </select>*@
                <input type="text" class="select-input" id="ddlRealName">
            </div>
            <div class="info-item half-item">
                <h3 class="info-title required">用户类型:</h3>
                <select class="inputnull select" id="ddlUserType">
                    <option value="1">系统用户</option>
                    <option value="4">普通护工</option>
                    <option value="6">行政</option>
                </select>
            </div>
            <div class="info-item half-item">
                <h3 class="info-title required">部门:</h3>
                <select class="inputnull select" id="ddlDept">
                    @Html.Raw(ViewBag.GetDeptID)
                </select>
            </div>
            <div class="info-item half-item">
                <h3 class="info-title required">角色:</h3>
                <select class="inputnull select" id="ddlRole">
                    @Html.Raw(ViewBag.GetRoleID)
                </select>
            </div>
            <div class="info-item"><h3 class="info-title">密码:</h3><input class="text-input" type="password" id="txt_Pwd"></div>
            <div class="info-item"><h3 class="info-title">确认密码:</h3><input class="text-input" type="password" id="txt_RePwd"></div>
            <div class="info-item"><h3 class="info-title">备注:</h3><textarea id="txtRemark"></textarea></div>

        </div>
        <!--detail页面 end-->
    </div>
    <!--details页面 end-->
    <!--新增页面遮罩层-->
    <div class="shade-box" id="div_shadeBox"></div>
    <!--新增页面遮罩层 end-->
    <!--设置管理床位 Begin-->
    <div id="divSetHgBed" style="display: none; width: 480px;">
        <div style="margin-top: 6px;">
            <span style="font-size: 16px;">
                <label>
                    <input type="checkbox" id="cbSetHgBedTreeAll"
                           style="height: 16px; width: 16px; vertical-align: middle;" />
                </label><label style="font-size: 16px; cursor: pointer;" for="cbSetHgBedTreeAll">全选</label>
            </span>
            <span>|</span>
            <span>
                <a href="javascript:void(0);" id="btnSetHgBedTreeExpand"
                   style="font-size: 16px;color: #000;letter-spacing: 2px;">折叠</a>
            </span>
        </div>
        <div id="Content_SetHgBedTree" class="ztree" style="height: 420px; overflow: auto;">
        </div>
        <div style="text-align: center; margin-top: 10px; padding-bottom: 10px;">
            <input type="button" class="button" value="确定" id="btnConfirmSetHgBed" />
            &nbsp;&nbsp;<input type="button" class="button" value="取消" id="btnCancelSetHgBed" />
        </div>
    </div>
    <!--设置管理床位 End-->
    <!--设置管理厕所 Begin-->
    <div id="divSetHgBed1" style="display: none; width: 480px;">
        <div style="margin-top: 6px;">
            <span style="font-size: 16px;">
                <label>
                    <input type="checkbox" id="cbSetHgBedTreeAll1"
                           style="height: 16px; width: 16px; vertical-align: middle;" />
                </label><label style="font-size: 16px; cursor: pointer;" for="cbSetHgBedTreeAll1">全选</label>
            </span>
            <span>|</span>
            <span>
                <a href="javascript:void(0);" id="btnSetHgBedTreeExpand1"
                   style="font-size: 16px;color: #000;letter-spacing: 2px;">折叠</a>
            </span>
        </div>
        <div id="Content_SetHgBedTree1" class="ztree" style="height: 420px; overflow: auto;">
        </div>
        <div style="text-align: center; margin-top: 10px; padding-bottom: 10px;">
            <input type="button" class="button" value="确定" id="btnConfirmSetHgBed1" />
            &nbsp;&nbsp;<input type="button" class="button" value="取消" id="btnCancelSetHgBed1" />
        </div>
    </div>
    <!--设置管理厕所 End-->
    <!--PageNodeId Begin-->
    <input type="hidden" id="txtAddPageNodeId" value="@ViewBag.AddPageNodeId" />
    <input type="hidden" id="txtEditPageNodeId" value="@ViewBag.EditPageNodeId" />
    <input type="hidden" id="txtDetailPageNodeId" value="@ViewBag.DetailPageNodeId" />
    <!--PageNodeId End-->
    <input type="hidden" id="txtWelfareCentreID" value="@ViewBag.WelfareCentreID" />

</body>
</html>

<script src="/assets_pc/js/require/require/2.2.0/require.js?v=1.1.3"></script>
<script src="/assets_pc/js/require/config/1.0.1/require.config.js?v=1.1.3"></script>
<script type="text/javascript">
    require(["jquery", "MISSY", "jquery.ztree", "jquery.layui", "jquery.md5"], function ()
    {
        var _iAddPageNodeId = $("#txtAddPageNodeId").val();
        var _iEditPageNodeId = $("#txtEditPageNodeId").val();
        var _iDetailPageNodeId = $("#txtDetailPageNodeId").val();
        var _iNodeId = MISSY.getQueryString("NodeId");
        var _iWelfareCentreID = $("#txtWelfareCentreID").val();
        var _iPageSize = 10; //PAGE NUMBER
        var _iCurrentPage = 1; //CurrentPage
        var _iPageCount = 5;
        $(function ()
        {
            InitResizeWindow();
            initPage();
        });

        function InitResizeWindow()
        {
            ResizeWindowContentArea();
            $(window).resize(function ()
            {
                ResizeWindowContentArea();
            });
        }

        function ResizeWindowContentArea()
        {
            $(".ContentArea").height($(window).height() - $(".OperateButtonArea").height() - 3);
        }

        function initPage() //initPage
        {
            $("#BtnAddOperate").click(function (){ClickAdd();});
            $("#BtnUpdateOperate").click(function (){ClickUpdate();});
            $("#BtnDeleteOperate").click(function (){ClickDelete();});
            $("#BtnPhyDeleteOperate").click(function (){ClickPhyDelete();});
            $("#BtnEnableOperate").click(function (){ClickEnable();});
            $("#BtnDisableOperate").click(function (){ClickDisable();});
            $("#BtnResetPasswordOperate").click(function (){ClickResetPassword();});
            $("#BtnExportOperate").click(function (){ClickExport();});
            $("#BtnSearch").click(function (){ClickSearch();});
            $("#cbListCheckAll").click(function (){MISSY.setClickCheckAll(this, "nameCbox");});
            $("#BtnSetHgBedOperate").click(function () { ClickSetHgBed(); });
            $("#BtnSetToiletOperate").click(function () { ClickSetToilet();})
            //SetHgBed
            $("#cbSetHgBedTreeAll").click(function () { ClickTreeCheckedAll('Content_SetHgBedTree', this.checked) });
            $("#cbSetHgBedTreeAll1").click(function () { ClickTreeCheckedAll('Content_SetHgBedTree1', this.checked) });
            $("#btnSetHgBedTreeExpand").attr("data-val", "0");
            $("#btnSetHgBedTreeExpand").click(function ()
            {
                var tempVal = $(this).attr("data-val");
                var isChecked = false;
                if (tempVal == "1")
                {
                    isChecked = true;
                    $(this).text("折叠");
                    $(this).attr("data-val", "0");
                } else
                {
                    isChecked = false;
                    $(this).text("展开");
                    $(this).attr("data-val", "1");
                }
                ClickTreeExpandNode("Content_SetHgBedTree", isChecked);
            });
            $("#btnSetHgBedTreeExpand1").attr("data-val", "0");
            $("#btnSetHgBedTreeExpand1").click(function () {
                var tempVal = $(this).attr("data-val");
                var isChecked = false;
                if (tempVal == "1") {
                    isChecked = true;
                    $(this).text("折叠");
                    $(this).attr("data-val", "0");
                } else {
                    isChecked = false;
                    $(this).text("展开");
                    $(this).attr("data-val", "1");
                }
                ClickTreeExpandNode("Content_SetHgBedTree1", isChecked);
            });
            $("#btnConfirmSetHgBed").click(function () { ChangeSetHgBed(); });
            $("#btnConfirmSetHgBed1").click(function () { ChangeSetHgBedcs(); });
            $("#btnCancelSetHgBed").click(function () { HiddenSetHgBed(); });
            $("#btnCancelSetHgBed1").click(function () { HiddenSetHgBed(); })
            $("#btnShowSearchBox").click(function () { ClickShowSearchBox(); });//显示搜索box
            $("#BtnSaveOperate").click(function () { ClickSubmit(); });//保存
            $("#BtnCancelOperate").click(function () { ClickBack(); });//隐藏添加页面box
            var pageType = MISSY.getQueryString("pageType");
            if (pageType == "5")
            {
                var PC_CustomerName2 = MISSY.getQueryString("PC_CustomerName");
                $("#txtRealName").val(PC_CustomerName2);
            }
            $("body").keydown(function (event)
            {
                var e = document.all ? window.event : event;
                var keycode = (e.keyCode ? e.keyCode : e.which);
                if (keycode === 13)
                {
                    ClickSearch();
                }
            });
            ChangePage(1, _iPageSize);
        }

        function ChangePage(paramCurrentPage, paramPageSize) //ChangePage
        {
            var colNumber = $("#tblist tr th").length;
            $.ajax({
                type: "post",
                url: "SearchList",
                data: {
                    UserName: $("#txtUserNameBySearch").val(),
                    RealName: $("#txtRealNameBySearch").val(),
                    DeptID: $("#ddlDeptID").val(),
                    RoleID: $("#ddlRoleID").val(),
                    UserType: $("#ddlUserTypeBySearch").val(),
                    IsValid: $("#ddlIsValid").val(),
                    sortfield: $("#sortfield").val(),
                    sorttype: $("#sorttype").val(),
                    NodeId: _iNodeId,
                    currentPage: paramCurrentPage,
                    pageSize: paramPageSize
                },
                dataType: "json",
                beforeSend: function ()
                {
                    $("#tblist tr:gt(0)").remove();
                    $("#tblist").append("<tr><td align=\"center\" colspan=\"" + colNumber + "\">加载中，请稍等．．．</td></tr>");
                },
                success: function (response)
                {
                    //var response = JSON.parse(responseText);
                    if (!response)
                    {
                        MISSY.iErrorReturnNull();
                        return;
                    }
                    switch (response.ErrorType) //标记
                    {
                        case 0: //错误
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                        case 1: //返回正确数据
                            break;
                        case 2: //请求地址不正确
                            MISSY.iNoFound(response.MessageContent);
                            return;
                        case 3: //未登录
                            MISSY.iNoLogin(response.MessageContent);
                            return;
                        case 4: //无页面权限
                            MISSY.iNoPageAuth(response.MessageContent);
                            return;
                        case 5: //无操作权限
                            MISSY.iNoOperateAuth(response.MessageContent);
                            return;
                        default:
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                    }
                    var buf = new Array();
                    var responseList = response.Data == null ? new Array() : response.Data;
                    for (var i = 0; i < responseList.length; i++)
                    {
                        var model = responseList[i];
                        buf.push("<tr class=\"view\" data-val=\"" + model.UserID + "\"  >");
                        //buf.push("<td class=\"select-box\"><input type=\"checkbox\" name=\"nameCbox\" value=\"" + model.UserID + "\" /></td>");
                        buf.push("<td class=\"index-num\">" + (i + 1) + "</td>");
                        //buf.push("<td>" + MISSY.formatString(model.UserCode) + "</td>");
                        buf.push("<td>" + MISSY.formatString(model.UserName) + "</td>");
                        buf.push("<td>" + MISSY.formatString(model.RealName) + "</td>");
                        buf.push("<td>" + MISSY.formatString(model.IcCardNo) + "</td>");
                        buf.push("<td>" + MISSY.formatString(model.RoleName) + "</td>");
                        buf.push("<td>" + MISSY.formatString(model.DeptName) + "</td>");
                        buf.push("<td>" + MISSY.formatDate(model.OperateDate, 4) + "</td>");
                        buf.push("<td>" + MISSY.formatIsValid(model.IsValid) + "</td>");
                        // buf.push("<td><a href=\"Details?NodeId=" + _iDetailPageNodeId + "&ID=" + model.UserID + "\">查看</a></td>");
                        buf.push("</tr>");
                    }
                    if (buf.length <= 0)
                        buf.push("<tr><td align=\"center\" colspan=\"" + colNumber + "\">暂无数据．</td></tr>");
                    $("#tblist tr:gt(0)").remove();
                    $("#tblist").append(buf.join(""));
                    $(".view").click(function ()
                    {
                        $("#tblist .view").removeClass("selected");
                        $(this).addClass("selected");
                        getInitSingle($(this).attr("data-val"));
                    });

                    var responseTotalRecord = response.TotalRecord;
                    var responsePageSize = response.PageSize;
                    var responseCurrentPage = response.CurrentPage;
                    _iCurrentPage = responseCurrentPage;
                    var responsePageCount = response.PageCount;
                    _iPageCount = responsePageCount;
                    if (responsePageCount > 1)
                    {
                        layui.use(['laypage'], function ()
                        {
                            var laypage = layui.laypage;
                            //完整功能
                            laypage.render({
                                elem: 'divPagination'
                                , count: responseTotalRecord
                                , curr: responseCurrentPage
                                , limit: _iPageSize
                                , layout: ['prev', 'page', 'next', 'count']
                                , jump: function (obj, first)
                                {
                                    console.log(obj)
                                    if (first != true)
                                    { //一定要加此判断，否则初始时会无限刷新
                                        ClickPageChange(obj.curr);
                                    }
                                }
                            });
                        });
                    } else
                    {
                        $("#divPagination").html("");
                    }

                },
                error: function (xmlHttpRequest, textStatus, errorThrown)
                {
                    MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                    $("#tblist tr:gt(0)").remove();
                    $("#tblist").append("<tr><td align=\"center\" colspan=\"" + colNumber + "\">系统性错误，请稍后再试.或点击<a href=\"ClickRefresh()\">刷新</a></td></tr>");
                }
            });
        }

        function ClickPageChange(tempGoPage) //PageChange
        {
            ChangePage(tempGoPage, _iPageSize);
        }

        function ClickRefresh() //Refresh
        {
            ChangePage(_iCurrentPage, _iPageSize);
        }

        function ClickSearch() //Serach
        {
            ChangePage(1, _iPageSize);
        }


        function ClickAdd() //Add
        {
            inputClear();
            $("#div_shadeBox").addClass("show");
            $(".info-item").addClass("add-food");
            $("#div_detailsBox").show();
            $("#div_shearchBox").hide();
            $("#BtnDeleteOperate").hide();
            $("#BtnPhyDeleteOperate").hide();
        }

        function ClickUpdate() //Update
        {
            var id = "";
            var checkboxlist = document.getElementsByName("nameCbox");
            var checkboxLength = 0;
            for (var j = 0; j < checkboxlist.length; j++)
            {
                if (checkboxlist[j].type === "checkbox")
                {
                    if (checkboxlist[j].checked)
                    {
                        checkboxLength++;
                    }
                }
            }
            if (checkboxLength > 1)
            {
                MISSY.iErrorMessage("请只选择一项数据.");
                return;
            }
            for (var i = 0; i < checkboxlist.length; i++)
            {
                if (checkboxlist[i].type === "checkbox")
                {
                    if (checkboxlist[i].checked)
                    {
                        id = checkboxlist[i].value;
                        break;
                    }
                }
            }
            if (id !== "")
            {
                location.href = "Details?ID=" + id + "&NodeId=" + _iEditPageNodeId + "&_r=" + Math.random();
            } else
            {
                MISSY.iErrorMessage("请选择一项数据.");
            }
        }

        function ConfirmOperateStatus(paramButtonId, paramIds) //OperateStatus操作状态
        {
            var layerLoadIndex;
            $.ajax({
                url: "ListOperateStatus",
                data: { NodeId: _iAddPageNodeId, oButtonId: paramButtonId, ids: paramIds },
                type: "post",
                dataType: "json",
                beforeSend: function ()
                {
                    layerLoadIndex = MISSY.iShowLoading("正在执行中，请稍候");
                },
                ContentType: "application/json;charset=utf-8",
                success: function (response)
                {
                    if (!response)
                    {
                        MISSY.iErrorReturnNull();
                        return;
                    }
                    switch (response.ErrorType) //标记
                    {
                        case 0: //错误
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                        case 1: //返回正确数据
                            MISSY.iSuccessMessage(response.MessageContent, ClickBack);
                            return;
                        case 2: //请求地址不正确
                            MISSY.iNoFound(response.MessageContent);
                            return;
                        case 3: //未登录
                            MISSY.iNoLogin(response.MessageContent);
                            return;
                        case 4: //无页面权限
                            MISSY.iNoPageAuth(response.MessageContent);
                            return;
                        case 5: //无操作权限
                            MISSY.iNoOperateAuth(response.MessageContent);
                            return;
                        default:
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown)
                {
                    MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                    MISSY.iSystemAjaxError();
                },
                complete: function (xmlHttpRequest, textStatus)
                {
                    MISSY.iHideLoading(layerLoadIndex);
                }
            });
        }

        function ClickDisable() //Disable禁用
        {
            var paramIds = $("#txtId").val();
            if (paramIds !== "")
            {
                MISSY.iConfirmMessage("您确定要禁用吗？", function ()
                {
                    ConfirmOperateStatus(22, paramIds);
                });
            } else
            {
                MISSY.iErrorMessage("请选择一项数据.");
            }
        }

        function ClickEnable() //Enable启用
        {
            var paramIds = $("#txtId").val();
            if (paramIds !== "")
            {
                MISSY.iConfirmMessage("您确定要启用吗？", function ()
                {
                    ConfirmOperateStatus(21, paramIds);
                });

            } else
            {
                MISSY.iErrorMessage("请选择一项数据.");
            }
        }

        function ClickDelete() //Delete
        {
            var paramIds = $("#txtId").val();
            if (paramIds !== "")
            {
                MISSY.iConfirmMessage("您确定要删除吗？", function ()
                {
                    ConfirmOperateStatus(3, paramIds);
                });
            } else
            {
                MISSY.iErrorMessage("请选择一项数据.");
            }
        }

        function ClickPhyDelete() //PhyDelete
        {
            var paramIds = $("#txtId").val();
            if (paramIds !== "")
            {
                MISSY.iConfirmMessage("请谨慎操作，删除后数据不可恢复，您确定要删除吗？", function ()
                {
                    var layerLoadIndex;
                    $.ajax({
                        url: "ListPhyDel",
                        data: { NodeId: _iAddPageNodeId, ids: paramIds },
                        type: "post",
                        dataType: "json",
                        beforeSend: function ()
                        {
                            layerLoadIndex = MISSY.iShowLoading("正在执行中，请稍候");
                        },
                        ContentType: "application/json;charset=utf-8",
                        success: function (response)
                        {
                            if (!response)
                            {
                                MISSY.iErrorReturnNull();
                                return;
                            }
                            switch (response.ErrorType) //标记
                            {
                                case 0: //错误
                                    MISSY.iErrorMessage(response.MessageContent);
                                    return;
                                case 1: //返回正确数据
                                    MISSY.iSuccessMessage(response.MessageContent, ClickBack);
                                    return;
                                case 2: //请求地址不正确
                                    MISSY.iNoFound(response.MessageContent);
                                    return;
                                case 3: //未登录
                                    MISSY.iNoLogin(response.MessageContent);
                                    return;
                                case 4: //无页面权限
                                    MISSY.iNoPageAuth(response.MessageContent);
                                    return;
                                case 5: //无操作权限
                                    MISSY.iNoOperateAuth(response.MessageContent);
                                    return;
                                default:
                                    MISSY.iErrorMessage(response.MessageContent);
                                    return;
                            }
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown)
                        {
                            MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                            MISSY.iSystemAjaxError();
                        },
                        complete: function (xmlHttpRequest, textStatus)
                        {
                            MISSY.iHideLoading(layerLoadIndex);
                        }
                    });
                });
            } else
            {
                MISSY.iErrorMessage("请选择一项数据.");
            }
        }

        function ClickResetPassword()
        {
            var paramIds = $("#txtId").val();
            if (paramIds !== "")
            {
                MISSY.iConfirmMessage("您确定要重置密码吗？", function ()
                {
                    var layerLoadIndex;
                    $.ajax({
                        url: "ResetPassword",
                        data: { NodeId: _iAddPageNodeId, ids: paramIds },
                        type: "post",
                        dataType: "json",
                        beforeSend: function ()
                        {
                            layerLoadIndex = MISSY.iShowLoading("正在执行中，请稍候");
                        },
                        ContentType: "application/json;charset=utf-8",
                        success: function (response)
                        {
                            if (!response)
                            {
                                MISSY.iErrorReturnNull();
                                return;
                            }
                            switch (response.ErrorType) //标记
                            {
                                case 0: //错误
                                    MISSY.iErrorMessage(response.MessageContent);
                                    return;
                                case 1: //返回正确数据
                                    MISSY.iSuccessMessage(response.MessageContent, ClickBack);
                                    return;
                                case 2: //请求地址不正确
                                    MISSY.iNoFound(response.MessageContent);
                                    return;
                                case 3: //未登录
                                    MISSY.iNoLogin(response.MessageContent);
                                    return;
                                case 4: //无页面权限
                                    MISSY.iNoPageAuth(response.MessageContent);
                                    return;
                                case 5: //无操作权限
                                    MISSY.iNoOperateAuth(response.MessageContent);
                                    return;
                                default:
                                    MISSY.iErrorMessage(response.MessageContent);
                                    return;
                            }
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown)
                        {
                            MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                            MISSY.iSystemAjaxError();
                        },
                        complete: function (xmlHttpRequest, textStatus)
                        {
                            MISSY.iHideLoading(layerLoadIndex);
                        }
                    });
                });
            } else
            {
                MISSY.iErrorMessage("请选择一项数据.");
            }
        }

        function ClickExport() //导出
        {
            var layerLoadIndex;
            $.ajax({
                url: "ExportReport",
                data: {
                    NodeId: _iAddPageNodeId,
                    currentPage: _iCurrentPage,
                    pageSize: _iPageSize
                },
                type: "POST",
                dataType: "json",
                async: false,
                beforeSend: function ()
                {
                    layerLoadIndex = MISSY.iShowLoading("数据导出中...");
                },
                ContentType: "application/json;charset=utf-8",
                success: function (response)
                {
                    if (!response)
                    {
                        MISSY.iErrorReturnNull();
                        return;
                    }
                    switch (response.ErrorType) //标记
                    {
                        case 0: //错误
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                        case 1: //返回正确数据
                            var elementA = document.createElement("a");
                            elementA.setAttribute("href", "/Upload/temp/" + response.MessageContent);
                            elementA.setAttribute("style", "display:none;");
                            elementA.innerHTML = response.MessageContent;
                            document.body.appendChild(elementA);
                            elementA.click();
                            MISSY.iSuccessMessage("导出成功.");
                            return;
                        case 2: //请求地址不正确
                            MISSY.iNoFound(response.MessageContent);
                            return;
                        case 3: //未登录
                            MISSY.iNoLogin(response.MessageContent);
                            return;
                        case 4: //无页面权限
                            MISSY.iNoPageAuth(response.MessageContent);
                            return;
                        case 5: //无操作权限
                            MISSY.iNoOperateAuth(response.MessageContent);
                            return;
                        default:
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown)
                {
                    MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                    MISSY.iSystemAjaxError();
                },
                complete: function (xmlHttpRequest, textStatus)
                {
                    MISSY.iHideLoading(layerLoadIndex);
                }
            });
        }


        function ClickSetHgBed() //节点拥有的按钮设置
        {
            $("#cbSetHgBedTreeAll").removeAttr("checked");
            var id = $("#txtId").val();
            //var checkboxlist = document.getElementsByName("nameCbox");
            //for (var i = 0; i < checkboxlist.length; i++)
            //{
            //    if (checkboxlist[i].type === "checkbox")
            //    {
            //        if (checkboxlist[i].checked)
            //        {
            //            id = checkboxlist[i].value;
            //            break;
            //        }
            //    }
            //}
            if (id.length > 0)
            {
                MISSY.iShowDialog("divSetHgBed", "设置管理床位");
                $.ajax({
                    url: "TreeSetHgBed",
                    data: { NodeId: _iAddPageNodeId, id: id },
                    type: "POST",
                    dataType: "json",
                    async: false,
                    beforeSend: function ()
                    {
                        $("#Content_SetHgBedTree").html("<div style='width:120px;margin: 0 auto;'><img src='/assets_pc/images/loading.gif' width='32px' height='32px' align='absmiddle' /> 正在加载．．．</div>");
                    },
                    ContentType: "application/json;charset=utf-8",
                    success: function (responseList)
                    {
                        var treeSetting = {
                            view: {
                                showIcon: false
                            },
                            check: {
                                enable: true
                            },
                            data: {
                                key: {
                                    checked: "Checked",
                                    name: "Name",
                                    title: ""
                                },
                                simpleData: {
                                    enable: true,
                                    idKey: "Id",
                                    pIdKey: "Pid",
                                    rootPId: _iWelfareCentreID
                                }
                            }
                        };
                        $.fn.zTree.init($("#Content_SetHgBedTree"), treeSetting, responseList);
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown)
                    {
                        MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                        $("#Content_SetHgBedTree").html("数据加载失败,请稍后再试.");
                    }
                });
            } else
            {
                MISSY.iErrorMessage("请至少选择一项数据.");
            }
        }

         //设置厕所管理
        function ClickSetToilet() {
            $("#cbSetHgBedTreeAll1").removeAttr("checked");
            var id = $("#txtId").val();
            if (id.length > 0) {
                MISSY.iShowDialog("divSetHgBed1", "设置管理厕所");
                $.ajax({
                    url: "TreeSetHgBedToilet",
                    data: { NodeId: _iAddPageNodeId, id: id },
                    type: "POST",
                    dataType: "json",
                    async: false,
                    beforeSend: function () {
                        $("#Content_SetHgBedTree").html("<div style='width:120px;margin: 0 auto;'><img src='/assets_pc/images/loading.gif' width='32px' height='32px' align='absmiddle' /> 正在加载．．．</div>");
                    },
                    ContentType: "application/json;charset=utf-8",
                    success: function (responseList) {
                        var treeSetting = {
                            view: {
                                showIcon: false
                            },
                            check: {
                                enable: true
                            },
                            data: {
                                key: {
                                    checked: "Checked",
                                    name: "Name",
                                    title: ""
                                },
                                simpleData: {
                                    enable: true,
                                    idKey: "Id",
                                    pIdKey: "Pid",
                                    rootPId: _iWelfareCentreID
                                }
                            }
                        };
                        $.fn.zTree.init($("#Content_SetHgBedTree1"), treeSetting, responseList);
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                        $("#Content_SetHgBedTree1").html("数据加载失败,请稍后再试.");
                    }
                });
            } else {
                MISSY.iErrorMessage("请至少选择一项数据.");
            }
        }

        function HiddenSetHgBed()
        {
            MISSY.iHideDialog();
        }

        function ChangeSetHgBed()
        {
            var hgIds = $("#txtId").val();
            if (hgIds.length <= 0)
            {
                MISSY.iErrorMessage("参数不能为空.");
                return;
            }
            var bedIds = zTreeCheckedVal("Content_SetHgBedTree", ",");
            var layerLoadIndex;
            $.ajax({
                type: "POST",
                url: "ChangeSetHgBed",
                data: { NodeId: _iAddPageNodeId, bedIds: bedIds, hgIds: hgIds },
                dataType: "json",
                beforeSend: function ()
                {
                    layerLoadIndex = MISSY.iShowLoading("正在执行中，请稍候");
                },
                ContentType: "application/json;charset=utf-8",
                success: function (response)
                {
                    if (!response)
                    {
                        MISSY.iErrorReturnNull();
                        return;
                    }
                    switch (response.ErrorType)//标记
                    {
                        case 0://错误
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                        case 1://返回正确数据
                            MISSY.iSuccessMessage(response.MessageContent, HiddenSetHgBed);
                            return;
                        case 2://请求地址不正确
                            MISSY.iNoFound(response.MessageContent);
                            return;
                        case 3://未登录
                            MISSY.iNoLogin(response.MessageContent);
                            return;
                        case 4://无页面权限
                            MISSY.iNoPageAuth(response.MessageContent);
                            return;
                        case 5://无操作权限
                            MISSY.iNoOperateAuth(response.MessageContent);
                            return;
                        default:
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown)
                {
                    MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                    MISSY.iSystemAjaxError();
                },
                complete: function (xmlHttpRequest, textStatus)
                {
                    MISSY.iHideLoading(layerLoadIndex);
                }
            });
        }
        function ChangeSetHgBedcs() {
            var hgIds = $("#txtId").val();
            if (hgIds.length <= 0) {
                MISSY.iErrorMessage("参数不能为空.");
                return;
            }
            var bedIds = zTreeCheckedVal("Content_SetHgBedTree1", ",");
            var layerLoadIndex;
            $.ajax({
                type: "POST",
                url: "ChangeSetHgBedcs",
                data: { NodeId: _iAddPageNodeId, bedIds: bedIds, hgIds: hgIds },
                dataType: "json",
                beforeSend: function () {
                    layerLoadIndex = MISSY.iShowLoading("正在执行中，请稍候");
                },
                ContentType: "application/json;charset=utf-8",
                success: function (response) {
                    if (!response) {
                        MISSY.iErrorReturnNull();
                        return;
                    }
                    switch (response.ErrorType)//标记
                    {
                        case 0://错误
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                        case 1://返回正确数据
                            MISSY.iSuccessMessage(response.MessageContent, HiddenSetHgBed);
                            return;
                        case 2://请求地址不正确
                            MISSY.iNoFound(response.MessageContent);
                            return;
                        case 3://未登录
                            MISSY.iNoLogin(response.MessageContent);
                            return;
                        case 4://无页面权限
                            MISSY.iNoPageAuth(response.MessageContent);
                            return;
                        case 5://无操作权限
                            MISSY.iNoOperateAuth(response.MessageContent);
                            return;
                        default:
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                    MISSY.iSystemAjaxError();
                },
                complete: function (xmlHttpRequest, textStatus) {
                    MISSY.iHideLoading(layerLoadIndex);
                }
            });
        }
        function ClickTreeExpandNode(treeName, isZk)
        {
            $.fn.zTree.getZTreeObj(treeName).expandAll(isZk);
        }

        function ClickTreeCheckedAll(treeName, isChecked)
        {
            $.fn.zTree.getZTreeObj(treeName).checkAllNodes(isChecked);
        }

        function zTreeCheckedVal(objName, separator)
        {
            var zTreeCheckedNodes = $.fn.zTree.getZTreeObj(objName).getCheckedNodes(true);
            var array = new Array();
            for (var i = 0; i < zTreeCheckedNodes.length; i++)
            {
                array[i] = zTreeCheckedNodes[i].Id;
            }
            return array.join(separator);
        }

        //显示搜索box  普通页面
        function ClickShowSearchBox()
        {
            $("#div_detailsBox").hide();
            $("#div_shearchBox").show();
        }
        //Back
        function ClickBack()
        {
            $("#div_detailsBox").hide();
            $("#div_shearchBox").show();
            $("#div_shadeBox").removeClass("show");
            $(".info-item").removeClass("add-food");
            ClickRefresh();
        }
        function inputClear()
        {
            $("#txtId").val("");
            $("#txtUserCode").val("");
            $("#txtUserName").val("");
            $("#ddlRealName").find("option").first().attr("selected", true);
            $("#ddlDept").find("option").first().attr("selected", true);
            $("#ddlRole").find("option").first().attr("selected", true);
            $("#txtRemark").val("");
            $("#ddlUserType").val("");
            $("#txtIcCardNO").val("");
            $("#txt_Pwd").val("");
            $("#txt_RePwd").val("");
        }

        //姓名模糊
        function AutoUserName()
        {
            $("#ddlRealName").autocomplete({
                type: "post",
                serviceUrl: "AutoUserName",
                paramName: "q",
                params: { limit: 10 },
                dataType: "json",
                minChars: 0,
                transformResult: function (response)
                {
                    return {
                        suggestions: $.map(response, function (dataItem)
                        {
                            return { value: dataItem.StaffName, data: dataItem };
                        })
                    };
                },
                onSelect: function (suggestion)
                {
                    var model = suggestion.data;
                    $("#ddlRealName").val(suggestion.value);
                    //$("#txtDrugID").val(model.ID);
                }
            });
        }

        //点击单条数据 修改时绑定数据方法
        function getInitSingle(ID)
        {
            $("#BtnDeleteOperate").show();
            $("#BtnPhyDeleteOperate").show();
            $("#div_detailsBox").show();
            $("#div_shearchBox").hide();
            $(".info-item").removeClass("add-food");
            if (MISSY.isEmpty(ID))
                return;
            $.ajax({
                url: "InitSingle",
                data: { NodeId: _iAddPageNodeId, ID: ID },
                type: "POST",
                dataType: "json",
                ContentType: "application/json;charset=utf-8",
                success: function (response)
                {
                    if (!response) { MISSY.iErrorReturnNull(); return; }
                    switch (response.ErrorType)//标记
                    {
                        case 0: //错误
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                        case 1: //返回正确数据
                            break;
                        case 2: //请求地址不正确
                            MISSY.iNoFound(response.MessageContent);
                            return;
                        case 3: //未登录
                            MISSY.iNoLogin(response.MessageContent);
                            return;
                        case 4: //无页面权限
                            MISSY.iNoPageAuth(response.MessageContent);
                            return;
                        case 5: //无操作权限
                            MISSY.iNoOperateAuth(response.MessageContent);
                            return;
                        default:
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                    }
                    var model = response.Entity;
                    $("#txtId").val(model.UserID);
                    $("#txtUserCode").val(model.UserCode);
                    $("#txtUserName").val(model.UserName);
                    $("#ddlRealName").val(model.RealName);
                    $("#ddlDept").val(model.DeptID);
                    $("#ddlRole").val(model.RoleID);
                    $("#txtRemark").val(model.Remark);
                    $("#ddlUserType").val(model.UserType);
                    $("#txtIcCardNO").val(model.IcCardNo);
                },
                error: function (xmlHttpRequest, textStatus, errorThrown)
                {
                    MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                    MISSY.iSystemAjaxError();
                }
            });
        }

        function ClickSubmit() //Add、Update
        {
            if (!CheckForm()) return;
            var ID = MISSY.getQueryString("ID");
            var Password = $("#txt_Pwd").val();
            if (!MISSY.isEmpty(Password))
            {
                Password = $.md5(Password);
            }
            var layerLoadIndex;
            $.ajax({
                url: "AddOrUpdate",
                data: {
                    NodeId: _iAddPageNodeId,
                    ID: $("#txtId").val(),
                    UserCode: $("#txtUserCode").val(),
                    UserName: $("#txtUserName").val(),
                    //RealName: $("#txtRealName").val(),
                    RealName: $("#ddlRealName").val(),
                    UserType: $("#ddlUserType").val(),
                    Password: Password,
                    DeptId: $("#ddlDept").val(),
                    RoleId: $("#ddlRole").val(),
                    Remark: $("#txtRemark").val(),
                    IcCardNO: $("#txtIcCardNO").val()
                },
                type: "POST",
                dataType: "json",
                ContentType: "application/json;charset=utf-8",
                beforeSend: function () { layerLoadIndex = MISSY.iShowLoading("正在执行中，请稍候..."); },
                success: function (response)
                {
                    if (!response) { MISSY.iErrorReturnNull(); return; }
                    switch (response.ErrorType)//标记
                    {
                        case 0://错误
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                        case 1://返回正确数据
                            MISSY.iSuccessMessage(response.MessageContent, ClickBack);
                            break;
                        case 2://请求地址不正确
                            MISSY.iNoFound(response.MessageContent);
                            return;
                        case 3://未登录
                            MISSY.iNoLogin(response.MessageContent);
                            return;
                        case 4://无页面权限
                            MISSY.iNoPageAuth(response.MessageContent);
                            return;
                        case 5://无操作权限
                            MISSY.iNoOperateAuth(response.MessageContent);
                            return;
                        default:
                            MISSY.iErrorMessage(response.MessageContent);
                            return;
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown)
                {
                    MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                    MISSY.iSystemAjaxError();
                },
                complete: function (xmlHttpRequest, textStatus)
                {
                    MISSY.iHideLoading(layerLoadIndex);
                }
            });
        }

        function BlurUserName()//检查用户名是否存在
        {
            var UserName = $("#txtUserName").val();
            var ID = MISSY.getQueryString("ID");
            if (!MISSY.isEmpty(UserName))
            {
                $.ajax({
                    url: "BlurName",
                    data: {
                        NodeId: _iNodeId,
                        ID: ID,
                        UserName: UserName
                    },
                    type: "POST",
                    dataType: "json",
                    ContentType: "application/json;charset=utf-8",
                    success: function (response)
                    {
                        if (!response) { MISSY.iErrorReturnNull(); return; }
                        switch (response.ErrorType)//标记
                        {
                            case 0://错误
                                $("#UserNameMsg").css("color", "red");
                                $("#UserNameMsg").html(response.MessageContent);
                                return;
                            case 1://返回正确数据
                                break;
                            case 2://请求地址不正确
                                MISSY.iNoFound(response.MessageContent);
                                return;
                            case 3://未登录
                                MISSY.iNoLogin(response.MessageContent);
                                return;
                            case 4://无页面权限
                                MISSY.iNoPageAuth(response.MessageContent);
                                return;
                            case 5://无操作权限
                                MISSY.iNoOperateAuth(response.MessageContent);
                                return;
                            default:
                                MISSY.iErrorMessage(response.MessageContent);
                                return;
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown)
                    {
                        MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                        MISSY.iSystemAjaxError();
                    }
                });
            }
        }

        function CheckForm()  //CheckForm
        {
            var txtUserName = document.getElementById("txtUserName");
            if (MISSY.isEmpty(txtUserName.value))
            {
                MISSY.iErrorMessage("用户名称不能为空！");
                txtUserName.value = "";
                txtUserName.focus();
                return false;
            }
            var ddlRealName = $("#ddlRealName").val();
            if (ddlRealName == "请选择")
            {
                MISSY.iErrorMessage("真实姓名不能为空！");
                txtRealName.focus();
                return false;
            }

            var ddlDept = document.getElementById("ddlDept");
            if (MISSY.isEmpty(ddlDept.options[ddlDept.selectedIndex].value))
            {
                MISSY.iErrorMessage("部门不能为空！");
                ddlDept.focus();
                return false;
            }
            if (!MISSY.isGuid(ddlDept.options[ddlDept.selectedIndex].value))
            {
                MISSY.iErrorMessage("部门初始化数据错误，请刷新此页面.");
                ddlDept.focus();
                return false;
            }
            var ddlRole = document.getElementById("ddlRole");
            if (MISSY.isEmpty(ddlRole.options[ddlRole.selectedIndex].value))
            {
                MISSY.iErrorMessage("角色不能为空！");
                ddlDept.focus();
                return false;
            }
            if (!MISSY.isGuid(ddlRole.options[ddlRole.selectedIndex].value))
            {
                MISSY.iErrorMessage("角色初始化数据错误，请刷新此页面.");
                ddlRole.focus();
                return false;
            }
            var txtPwd = document.getElementById("txt_Pwd");
            var txtRePwd = document.getElementById("txt_RePwd");
            if (MISSY.trim(txtPwd.value) !== MISSY.trim(txtRePwd.value))
            {
                MISSY.iErrorMessage("两次输入密码不一致，请重新输入！");
                txtRePwd.value = "";
                txtRePwd.focus();
                return false;
            }
            return true;
        }
    });
</script>
<script>
  var scroll_box = document.getElementById('scroll-box')
  Ps.initialize(scroll_box);
  //    初始化自定义滚动条

</script>